
.services {
    padding: 0;
}

.services aside {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    color: #EEE;
    height: 250px;
  }

.services section .barre-bleu {
    width: 16rem; 
    height: 0.25rem;
}

.services section h1 {
    font-size: 3rem;
    font-weight: 600;
}

.services section p {
    font-size: 1.2rem;
}

.services h2 {
    font-size: 1.5rem;
    font-weight: 600;
}