
.blog aside {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    color: #EEE;
    display: flex;
    height: 250px;
  }

.blog main h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #1e1e1e;
}

.blog main p {
    font-size: 1.2rem;
}

.blog main .barre-bleu {
    width: 16rem; 
    height: 0.25rem;
}

.blog main article h2 {
    font-weight: 600;
    color: #1e1e1e;
}

.blog main article p {
    font-size: 1rem;
}
