
.contact {
    background-image: url("../img/contact-bg.jpg");
}

.contact .voile-bleu {
    background-color: rgba(0,105, 255, 0.5);
    width: 100%;
    height: 100%;
    padding: 2rem 5rem 8rem;
}

.contact main {
    opacity: 1;
    padding: 4rem;
    border-radius: 0.5rem;
    background-color: #EEE;
}

.contact main section {
    margin-bottom: 3rem;
    text-align: center;
}

.contact main section h1 {
    font-size: 3rem;
    line-height: 2.5rem;
    margin-bottom: 1.25rem;
}

.contact main section p {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.contact main section div {
    justify-self: center;
    margin-top: 0.75rem;
    width: 15rem;
    height: 0.25rem;
    background-color: #0d6efd;
}

.contact main article {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.contact main article figure h2 {
    padding-bottom: 1.5rem;
    border-bottom-width: 2px;
    border-color: #0d6efd;
    font-size: 2.5rem;
    line-height: 1.75rem;
}

.contact main article figure form {
    margin-top: 2.5rem;
}

.contact main article figure form input {
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    border-width: 1px;
    border-color: #444;
    width: 100%;
}

.contact main article figure form textarea {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: #444;
    width: 100%;
    margin-bottom: 1rem;
    height: 8rem;
}

.contact main article figure form button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
    color: #EEE;
    background-color: #0d6efd;
}

.contact main article figure div {
    margin-top: 2.25rem;

}

.contact main article figure div p {
    display: flex;
    flex-direction: row;
}

.contact main article figure div p img {
    width: 1.5rem;
}

.contact main article figure div iframe {
    height: 20rem;
}
