
.mentions aside h1 {
    font-size: 3rem;
}

.mentions aside .barre-bleu {
    width: 16rem;
    height: 0.25rem;
}

.mentions main {
    margin: 5rem 10rem 3rem;
}

.mentions main button {
    border: solid 1px #DDD;
    background-color: #FFF;
}

.mentions main button {
    font-size: 1.25rem;
}

.mentions main button:focus {
    outline: none;
    background-color: rgba(0, 105, 255, 0.1);
    color: #004ec2;
}

.mentions main img {
    width: 1.5rem;
    height: 1.5rem;
}

.mentions main article {
    border: solid 1px #CCC;
    background-color: #FFF;
}

.mentions main article img {
    width: 1.2rem;
    height: 1.2rem;
}

.mentions main article h3 {
    font-size: 2rem;
}

.mentions article ul li a {
    text-decoration: none;
    color: #0d6efd;
}