
.accueil aside {
    position: relative;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(../img/hero-bg.jpg);
}

.accueil .back-affiche{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
}

.accueil aside figure {
    display: flex;
    position: relative;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: #EEE;
}

.accueil aside figure h1{
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
}

.accueil aside figure h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    line-height: 2rem;
}

.accueil aside figure button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
    font-weight: 600;
    color: #EEE;
    background-color: #0d6efd;
}

.accueil main {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.accueil main section {
    display: flex;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-shadow: 0 4px 6px -1px #000, 0 2px 4px -1px #000; 
}

.accueil .gauche-Apropos {
    padding-right: 2rem;
    width: 50%;
}

.accueil .gauche-Apropos h2{
    margin-bottom: 1.5rem;
    font-size: 3rem;
    line-height: 2rem;
    font-weight: 600;
}

.accueil .barre-bleu-accueil {
    margin-bottom: 2.5rem; 
    width: 100%; 
    height: 0.1rem; 
    background-color: #0d6efd; 
}

.accueil .gauche-Apropos p{
    font-size: 1.35rem;
    margin-bottom: 1rem;
}

.accueil .droite-Apropos{
    width: 50%;
}

.accueil .droite-Apropos img{
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.accueil .droite-Apropos h3{
    margin-bottom: 1rem;
    font-size: 1.75rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.accueil figure {
    margin-bottom: 0.5rem;
}

.accueil figure span{
    font-size: 1.1rem;
    display: block;
    color: #1e1e1e;
}

.accueil .container-jauge {
    border-radius: 9999px;
    width: 100%;
    height: 1rem;
    background-color: #EEE;
    margin-bottom: 1.15rem;
}

.accueil .jauge-rouge {
    width: 90%;
    border-radius: 9999px;
    height: 1rem;
    background-color: red;
}

.accueil .jauge-bleu {
    width: 80%;
    border-radius: 9999px;
    height: 1rem;
    background-color: #0d6efd;
}

.accueil .jauge-orange {
    width: 70%;
    border-radius: 9999px;
    height: 1rem;
    background-color: orange;
}

.accueil .jauge-verte {
    width: 60%;
    border-radius: 9999px;
    height: 1rem;
    background-color: green;
}

.accueil .jauge-bleu-fonce {
    width: 50%;
    border-radius: 9999px;
    height: 1rem;
    background-color: darkblue;
}