@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12,400&display=swap');

body {
  background-color: #EEE;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

