
header {
    top: 0;
    background-color: #333;
}

header nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

header nav .logo-nom {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 600;
    margin-left: 4rem;
    color: #DDD;
}

header nav .logo-nom :hover {
    opacity: 0.8;
    color: #FFF;
}

header nav ul {
    font-size: 1.25rem;
    display: flex; 
    padding: 1rem; 
    margin-right: 2rem;
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap;
}
header nav ul li {
    color: #CCC;
    margin: 0 1rem;
    text-decoration: none;
}
header nav ul li:hover {
    color: #FFF;
    opacity: 0.8;
}