
.nav {
    top: 0;
    background-color: #333;
    padding: 1rem;
}

.nav nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.logo-nom {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    color: #CCC;
}

.logo-nom :hover {
    color: #FFF;
}

.nav ul {
    display: flex; 
    padding: 1rem; 
    justify-content: space-between; 
    align-items: center; 
}
.nav ul li {
    color: #CCC;
    margin: 0 1rem;
    text-decoration: none;
}
.nav ul li:hover {
    color: #FFF;
}