
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12,400,600&display=swap');

body {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
}

.hidden-Section1 {
    display: none;
}

.btn-ouv1 {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bas {
    background-color: #CCC;
}

.bas img {
    width: 
    32px;
}