footer {
    background-color: #DDD;
}

footer ul li a {
    text-decoration: none;
    color: #1e1e1e;
}

footer .gauche a {
    margin-left: 1rem;
}

footer .gauche a img {
    width: 2rem;
    height: 2rem;
}

footer .bas {
    background-color: #000;
}

footer .bas p {
    color: #EEE;
}